<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.smcfan.quietcurve</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/sbin/smcfanctl</string>
    <string>daemon</string>
    <string>--fan</string>
    <string>0</string>
    <string>--base</string>
    <string>1650</string>
    <string>--interval</string>
    <string>5</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/var/log/smcfanctl.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/smcfanctl.err</string>
</dict>
</plist>
